.box_course {
    box-shadow: 1px 3px 4px #ccc;
    border-radius: 10px;
}
.desc_data {
    padding: 15px; 
}
.bgGreen {
    background: #e9fffc;
    padding: 6px 10px;
    border-radius: 40px;
    box-shadow: 1px 2px 4px #ccccccab;
    font-weight: 600;
    color: #137838;
}
ul.feature {
    padding-left: 20px;
}
.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 93px;
    height: 93px;
    text-align: right;
  }
  .ribbon span {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    transform: rotate(45deg);
    width: 125px;
    display: block;
    background: #79a70a;
    background: linear-gradient(#9bc90d 0%, #79a70a 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 17px;  
    right: -29px; 
  }
  
  .ribbon span::before {
     content: '';
     position: absolute; 
     left: 0px; top: 100%;
     z-index: -1;
     border-left: 3px solid #79A70A;
     border-right: 3px solid transparent;
     border-bottom: 3px solid transparent;
     border-top: 3px solid #79A70A;
  }
  .ribbon span::after {
     content: '';
     position: absolute; 
     right: 0%; top: 100%;
     z-index: -1;
     border-right: 3px solid #79A70A;
     border-left: 3px solid transparent;
     border-bottom: 3px solid transparent;
     border-top: 3px solid #79A70A;
  }
  
  button.btn.btn-view {
    background: #FD7C50;
    width: 50% !important;
    padding: 10px 12px;
    color: white;
    text-decoration: none !important;
    text-align: center;
    border-radius: 0px 0px 0px 10px;
}
button.btn.btn-enroll {
    width: 50% !important;
    padding: 10px 12px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none !important;
    text-align: center;
    border-radius: 0px 0px 10px 0px;
    background: #071c4d;
}
h2.mb-4.top_heading {
    font-weight: 800;
    font-size: 30px;
}
.col-md-4.journey_text img {
    width: 80px;
    object-fit: contain;
}
.box_campus {
    display: flex;
    gap: 1rem;
    align-items: center;
    box-shadow: 1px 2px 4px #ccc;
    border-radius: 10px;
}
.box_campus h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    text-shadow: 2px 2px #f47b5257;
}
img.line_campus.mb-5 {
    filter: invert(1);
    margin: auto;
    display: block;
}
.user_box {
    text-align: center;
    box-shadow: 1px 3px 5px #ccc;
    padding: 2rem;
    border-radius: 10px;
}
h2.userName {
    font-size: 24px;
    margin-top: 1rem;
    font-weight: 800;
    color: #fd7c50;
}
img.user {
    box-shadow: 0px 3px 16px #a3a3a36b;
    border-radius: 50%;
}
p.profile_name {
    color: #071c4d;
    font-weight: 600;
    font-style: italic;
}
button.btn.btn-outline-primary.border_orange {
    border: 3px solid #fd7c50;
    color: #fd7c50;
    width: fit-content;
    margin-top: 5rem;
}

button.btn.btn-outline-primary.border_orange:hover {
    border: 2px solid #fff;
    padding: 12px 30px;
    color: #fff; 
}
p.about_desc {
    font-size: 20px;
    margin-top: 2rem;
}
.placement.shadow {
    padding: 1rem;
    border-radius: 10px;
}
.bg_gray_light {
    background: #F5F4F0;
}
h1.font-bold {
    font-weight: 700;
}
.shadow.bg-white.p-3 {
    border-radius: 10px;
}
.bg-white.shadow.p-3{
    overflow: hidden;
    transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.bg-white.shadow.p-3 img{
	transition: .3s ease-in-out;

}
.bg-white.shadow.p-3 img:hover { 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.shadow.bg-white.p-4.our_box {
    height: auto;
}
.embed-responsive-item{
    height: 500px;
}
.nav-link {
    color: #fd7c55;
    font-size: 20px;
    font-weight: 500;
}
button.book_btn:hover {
    background: #F47B52;
    border-color: #F47B52;
}
button.nav-link.active {
    background: #fd7c55 !important;
}
img.futureImg {
    width: 400px;
}
p.mt-4.mb-5.build {
    font-size: 20px;
}
h1.build_headig {
    font-weight: 800;
}
button.btn.btn-talk {
    background: #13234C;
    width: 30%;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
button.btn.btn-success {
    background: #13990A;
    width: 30%;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
span.or {
    background: #13234c;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(36px, 0px);
    z-index: 1;
    border: 1px solid;
    margin-top: 4px;
    left: 25%;
}
 .pr3{
    margin-right: 10px;
 }
 .training-grid .our_box1 span {
    font-weight: bold;
}
.python-box {
    text-align: left;
    -moz-column-gap: 15px;
    border-radius: 15px 0 0 15px;
}
.banner-python ul.order-list li {
    text-align: left;
}
.bg-python {
    background-color: #071C4D;
}
button.brochure-btn {
    border-color: #000 !important;
    color: #000 !important;
}
button.brochure-btn:hover{
    color: #fff !important;
}
.border-grid {
    border: 3px solid #3079E8;
    max-width:100%;
}
ul.tool-images li {
    max-width: 20%;
    flex: 20%;
}
ul.tool-images li img {
    max-width: 100%;
}
.video-bg{
    background-color:#d1e4e8;
}
.video-bg h1.text_heading {
    color: #071C4D;
}
.video-bg ul.order-list::before{
    display: none !important;
}
.video-training-grid > div:nth-child(1) .our_box1 {
    border-top: 20px solid #86D0EA;
}
.video-training-grid > div:nth-child(2) .our_box1 {
    border-top: 20px solid #83DCB0;
}
.video-training-grid > div:nth-child(3) .our_box1 {
    border-top: 20px solid #FCB059;
}
.video-training-grid > div:nth-child(4) .our_box1 {
    border-top: 20px solid #D4DD58;
}
.tab-bg{
    background-color: #071C4D;
}
.inner-vert-tab {
    max-width: 30%;
}
.vertical-tab .tab-content {
    max-width: 70%;
    width:100%;
}
.tab-data > img {
    max-width: 60px;
    border-right: 2px solid #fff;
    padding-right: 8px;
}
.tab-data span.tab-heading {
    padding-left: 10px;
    font-size: 20px;
}
img{
    max-width:100%;
}
.tools {
    background: #F2F6FF;
}
.column-order li {
    list-style: none;
}
.column-order {
    padding: 0;
    column-gap: 30px;
    font-size: 18px;
    line-height: 26px;
    color: blue;
}
.video-slick .slick-list .slick-track {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3em;
}
.tab-bg .slick-slider {
    max-height: 640px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.tab-slicker {
    max-width: 90%;
    margin: 0 auto;
}
.banner-btngroup {
    column-gap: 2em;
}
.graphic_home .heading-lg {
    color: #FD7C50 !important;
}
.graphic_home .desc_course {
    max-width: 60%;
    margin: auto;
    font-size: 20px;
    line-height: 35px;
}
.blue-shade{
    color:#3079E8;
}
.tools .tool-img {
    max-width: 20%;
    width: 20%;
    display:flex;flex-wrap:wrap;justify-content:center;
    margin-bottom:3em;
}
.graphic-slicker .slick-slider {
    max-height: 400px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.accordion-div .accordion-item {
    width: 50%;
}
.accordion-div button.accordion-button.collapsed {
    font-weight: 600;
}
.text-blue{
    color:#071C4D;
}
.dura-fees {
    column-gap: 3em;
}
.banner-btngroup button:hover {
    color: #fff !important;
}
.color-green {
    color: #3923CC;
    font-weight: 600;
}
.tool-images::before {
    border: none !important;
}


@media screen and (max-width:991px) {
    .training-grid .our_box1 span {
        font-size: 20px !important;
    }
}